

body {
  padding:50px;
  font:16px Andale Mono;
  color:#fff;
  background-color: #383838;
  font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
  color:#458B74;
  margin:0 0 20px;
display: block; 
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:100px;
}

h2 {
  color:#458B74;
}

h3, h4, h5, h6 {
  color:#458B74;
}

a {
  color:#458B74;
  font-weight:400;
  text-decoration:none;

}



a:hover{

text-decoration: underline overline;

}


strong {
  color:#458B74;
  font-weight:400;
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  header ul {
    display:none;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}

form {
  
}

form div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {

     font:16px Andale Mono;


    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid #999;
}

input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}

textarea {

    vertical-align: top;
 

    height: 5em;

  
    resize: vertical;

     font:16px Andale Mono;
}

.button {
    
    padding-left: 90px; 
}
button {
	 font:16px Andale Mono;
    margin-left: .5em;
}

div#hmenu { 
   margin: 0; 
   padding: .3em 0 .3em 0; 
   background:  #383838; 
   width: 100%; 
   text-align: left; 
} 

div#hmenu ul { 
   list-style: none; 
   margin: 0; 
   padding: 0; 
} 

div#hmenu ul li { 
   margin: 0; 
   padding: 0; 
   display: inline; 
} 

div#hmenu ul a:link{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: x-large; 
   color: #9b9b9a; 
} 

div#hmenu ul a:visited{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 

   font-size: x-large; 
   color: #9b9b9a; 
} 



div#hmenu ul a:hover{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 

   font-size: x-large; 
   color: #383838; 
   background-color: #9b9b9a; 
}
div#hmenu ul a:active{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 

   font-size: x-large; 
   color: #383838; 
   background-color: #9b9b9a; 
} 

